[alias]
	tlog = log --graph --decorate --pretty=format:'[%Cblue%h%Creset] -  %C(yellow) %s %Creset  - %C(auto) %d %C(bold black)%an %cr' --abbrev-commit --date=relative
	cm = commit -m
	amend = commit --amend -m
[user]
	email = celine.dannappe@gmail.com
